
.product-westudents {

    .intro {

        div {
            flex: 1;
        }

        .text-section {
            background-color: red;
        }

        .images {
            display: flex;
            background-color: yellow;
            align-items: center;

            div {
                margin: 20%;

                img {
                    width: 100%;
                }
            }

        }

    }

}