
.teampage {


    * {
        transition: 1s ease-in-out;
    }

    .intro {
        display: flex;
        transition: 1s;
        height: 100vh !important;
        justify-content: center;
        align-items: center;


        > * {
            flex: 1;
        }

        .text-section {
            > * {
                padding: 30px;
            }
        }

        .team-image {
            position: absolute;
            background-image: url('../../images/team_image.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 45%;
            width: 40%;
            top: 26%;
            left: 10%;
            cursor: pointer;
        }

        &.fullscreen {
            max-width: 100% !important;
            height: 100vh !important;

            .team-image {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }

    }

}
