


.community-wrapper {
    .intro-section {
       
        color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        .section-title{
            text-transform: uppercase;
            font-size: 23px;
            text-align: center;
            letter-spacing: 0.3em;
            font-weight: 600;
            margin-bottom: 1.5em;
        }
        .section-subtitle{
            font-weight: 700;
            font-size: 34px;
            text-align: center;
        }
        button {
            background: transparent;
            margin-bottom: 1.5em;
        }
    }
    .manifest {
        .title {
            color: #FF9D64;
            letter-spacing: 0.2em;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .manifest-item {
            align-items: center;
            .images-left {
                position: relative;
                height: 500px;
                flex: 1;
                .img {
                    position: absolute;
                    zoom: 0.6;
                    &.bottom {
                        z-index: 1;
                        right: 20%;
                        bottom: 20%;
                        animation: exit-left 1.5s;
                        &.active {
                            animation: enter-left 1.5s;
                        }
                    }
                    &.top {
                        z-index: 3;
                        right: 50%;
                        top: 8%;
                        animation: 1.5s exit-left 0.3s;
                        &.active {
                            animation: 1.7s enter-left;
                        }
                    } 
                }
            }
            .images-right {
                position: relative;
                height: 500px;
                flex: 1;
                .img {
                    position: absolute;
                    zoom: 0.6;
                    &.bottom {
                        z-index: 1;
                        right: 20%;
                        bottom: 20%;
                        animation: exit-right 1.5s;
                        &.active {
                            animation: enter-right 1.5s;
                        }
                    }
                    &.top {
                        z-index: 3;
                        right: 50%;
                        top: 8%;
                        animation: 1.5s exit-right 0.3s;
                        &.active {
                            animation: 1.7s enter-right;
                        }
                    } 
                }
            }
        }
        @keyframes enter-left {
            0%   {transform: translateX(-100vw);}
            100%  {transform: translateX(0);}
        }
        @keyframes exit-left {
            0%   {transform: translateX(0);}
            100%  {transform: translateX(-100vw);}
        }
        @keyframes enter-right {
            0%   {transform: translateX(100vw);}
            100%  {transform: translateX(0);}
        }
        @keyframes exit-right {
            0%   {transform: translateX(0);}
            100%  {transform: translateX(100vw);}
        }
        .manifest-text {
            flex: 1;
            margin: auto 0;
        }
    }
    .features {
        .title{
            color: #E08B6C;
            margin-bottom: 80px;
        }
        flex-direction: column;
        .feature {
            h2 {
                text-transform: uppercase;
                color: #E08B6C;
            }
            margin: 0 4em;
            img {
                height: 60px;
            }
            .description {
                font-size: 10px;
                font-weight: 700;
            }
        }
    }
}