@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

$mobileHeaderHeight: 90px;

html {
  font-family: 'Titillium Web', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #414042;
}
body {
  margin: 0;
  background-color: #F9F9F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold {
  font-weight: 700;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: flex-end;
}

.row-reverse {
  flex-direction: row-reverse;
}

.d-flex {
  display: flex;
}

.hidden {
  display: none;
}

button {
  background: linear-gradient(45deg, #f0494e, #fcab7c);
  background-size: 160%;
  animation: flow 3s ease-in-out infinite;
  padding: 16px 50px;
  color: white;
  font-size: 16px;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    border: 0;
    outline: none;
  }
}

.justify-center{
  display: flex;
  justify-content: center;
}

.align-items-end{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-center{
  text-align: center;
}

.fullpageSpacer {
  
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px	
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}

@media only screen and (max-width: 991px) {

}


// KEYFRAMES 

@keyframes flow {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
    background-position: 0 50%;
	}
}