.privacy-intro {
    padding-top: 130px;

    > div {
        padding: 0 10%;   
    }

    .head {
        padding-right: 50%;

        p {
            font-size: 12px;
        }

    }

    .content {
        margin-bottom: 4em;
        > div {
            margin: 3em 0;
            display: flex;
            flex-direction: row;

            img {
                height: 50px;
                width: 50px;
            }

            p {
                margin-left: 4em;
                margin-top: 0;
                font-size: 12px;
            }
        }

    }

        .discover-button {
            padding: 0.5em 2.5em;
            background: #FF9D64;
            font-size: 14px;
            margin-bottom: 90px;
        }
    
        @media screen and (max-width: 991px) {
            padding-top: 90px;

            > div {
                padding: 0 5%;   
            }

            .head {
                padding-right: 0;        
            }

        }
}