.video-intro-wrapper {
    background-image: url('../../images/intro_bg.png');
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    padding-top: 150px;
}