.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding:2em 3em;
        border-radius: 15px;
        background-color: #FF9D64;
        display: flex;
        color: white;
       
        .footer-row {
            @media screen and (max-width: 576px){
                flex-direction: column-reverse;
            }
        }
        .main-section {
            @media screen and (max-width: 576px){
                flex-direction: column;
            }
        }
        .newsletter-wrapper {
            @media screen and (max-width: 576px){
                flex-direction: column;
            }
            .newsletter-div {
                @media screen and (min-width: 576px){
                    margin-left: 2em;
                }
            }
        }
        .list-title {
            padding-inline-start: 0;
            list-style-type: none;
            font-size: 14px;
        }
        .divider{
            border-left: 1px solid rgb(255, 255, 255);
            width: 1px;
            height: 85%;
            margin: auto 0;
            @media screen and (max-width: 576px){
                display: none;
            }
        }
        .horizontal-divider {
            border-bottom: 1px solid rgb(255, 255, 255);
            width: 100%;
            height: 1px;
            margin: 1em auto;
            @media screen and (min-width: 576px){
                display: none;
            }
        }
        h4 {
           margin: 0;
        }
        .list-item {
            margin-bottom: 0.5em;
            font-size: 12px;
        }
        .input-container {
            margin-top: 1em;
            position: relative;
            width: min-content;
            display: flex;
            justify-content: center;
            @media only screen and (min-width: 991px) {
                justify-content: left; 
            }
            .custom-input {
                border-radius: 20px;
                height: 35px;
                padding: 0 1em;
                width: 240px !important;
                border: none;
                &:focus {
                    outline: none;
                }
            }
            .custom-button {
                position: absolute;
                width: 70px !important;
                left: 71%;
                text-align: center;
                @media only screen and (max-width: 991px) {
                    left: 72%;
                }
                top: calc(35px/2);
                padding: 0 7%;
                font-size: 11px;
                height: 25px;
                margin-top: calc(-25px/2);
                background: #FF9D64;
            }
        }
        .company-info {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
        }

        .newsletter-check-div {
            margin-top: 0.2em;
            display: flex;
        }
        .newsletter-check {
            margin-top: 0.5em;
            align-items: center;
            button {
                background: none;
                padding: 0;
                text-align: left;
                color: white;
                &:hover {
                    opacity: 1;
                }
            }
            input[type="checkbox"] {
                border-color: white !important;
            }
            label {
                margin-left: 1px;
                
            }
            .checkbox-wrapper {
                display: flex;
                margin-top: 0.5em;
            }
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}


@media only screen and (max-width: 991px) {
    .footer-wrapper {
       
        .footer {
            width: auto;
            padding:2em 2em;
            .newsletter-check {
                margin-top: 10px;
            }
        }
    }
}