.homepage {

	.section .container {
		display: flex;
		justify-content: center;
		align-items: center;

		> * {
			flex: 1;
		}
	}

	.intro {
		> .intro-text {
			margin-bottom: 20vh;
		}

		h2 {
			font-size: 3.6em;

			span {
				animation: flow 3s ease-in-out infinite;
				background: linear-gradient(-60deg, #FF9D64, #c34823, #e4552a, #ee7752, #f09c83);
				background-size: 300%;
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	h3 {
		font-size: 2.4em;
		margin: 20px 0px;
	}

	p.section-description {
		color: #A6A6A6;		
		font-weight: 700;
		font-size: 1.2em;
		padding: 0;
    	margin: 0;
    	margin-bottom: 10px;
	}

	.westudents-app, .wegather, .dascuola {

		.westudents-app-text {
			margin-bottom: 20vh;
		}

		.wegather-text {
			margin-right: 50px;
			margin-bottom: 20vh;
			text-align: right;
		}

		button {
			margin-top: 50px;
			height: 36px;
			padding: 0 3em;
			font-size: 15px;
			&.dascuola {
				background: #7C6BAA;
			}
			&.wegather {
				background: #EA544C;
			}
			&.westudents {
				background: #FF9D64;
			}
		}
	}

	.details-wrapper {
		height: 100%;
		padding: 5%;
		background: transparent;
		color: white;
		background: linear-gradient(45deg, rgba(195,35,40,1) 0%, rgba(214,73,59,1) 10%, rgba(224,94,69,1) 19%, rgba(255,157,100,1) 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		.item {
			flex: 1;
			@media screen and (min-width: 992px){
				margin: 0 50px
			}
			@media screen and (max-width: 992px){
				margin: 0 30px
			}
			img {
				width: 45px;
				height: 45px;
			}
			.name {
				margin: 0;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
		&.active {
			animation: background-orange 0.5s ease-in;
		}
	}

	.sponsor {
		flex-direction: column;
		padding-top: 9%;
		padding-bottom: 0;
		.title {
			color: #FF9D64;
			text-transform: uppercase;
			margin-bottom: 120px;
		}
		.sponsor-icon {
			width: 160px;
			height: 60px;
			margin: 0 1.5em;
		}
		.cta-section {
			justify-content: center;

		}
		.cta-text {
			color: #A6A6A6;
			text-transform: uppercase;
			font-size: inherit;
			margin-top: 100px;
		}
		button {
			height: 36px;
			padding: 0 3em;
			font-size: 15px;
		}
		
	}
 	@keyframes background-orange {
		0% {opacity: 0;}
		100% {opacity: 1;}
	  } 
	  
}

